<p id="notice"><%= notice %></p>

<p>
  <strong>Topic:</strong>
  <%= @clocking.topic %>
</p>

<p>
  <strong>Details:</strong>
  <%= @clocking.details %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @clocking.duration %>
</p>

<%= link_to 'Edit', edit_subject_clocking_path(@subject, @clocking) %> |
<%= link_to 'Back', subject_clockings_path(@subject) %>
