<div class="col-md-3 sidenav hidden-xs">
  <nav class="navbar bg-light d-none d-md-block">
    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">LOGO</a>
      </li>
      <li class="nav-item">
        <%= link_to 'All Subjects', subjects_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'External Clockings', external_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'New Clocking', select_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= render 'devise/menu/login_items' %>
      </li>
    </ul><br>
  </nav>
  <nav class="navbar navbar-toggleable-md navbar-light bg-light d-md-none">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <%= link_to 'New Clocking', select_path, class: 'nav-link' %>
        </li>
      </ul>
    </div>
  </nav>
</div>