<p id="notice"><%= notice %></p>

<h1>Clockings</h1>

<table>
  <thead>
    <tr>
      <th>Topic</th>
      <th>Details</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @subjects.each do |subject| %>
      <% subject.clockings.each do |clock| %>
        <tr>
          <td><%= clock.topic %></td>
          <td><%= clock.details %></td>
          <td><%= clock.duration %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Clocking', select_path %> |