<h2>Clockings</h2>
<% @subjects.each do |subject| %>
  <% subject.clockings.each do |clocking| %>
    <%if subject.title != "External"%>
      <p><%= clocking.topic %></p>
      <p><%= clocking.details %></p>
      <p><%= clocking.duration %></p>
      <p><%= image_tag(subject.icon) if subject.icon.attached? %></p>
    <%end%>
  <% end %>
<%end%>

<h2>External</h2>
<% @subjects.each do |subject| %>
  <% subject.clockings.each do |clocking| %>
    <%if subject.title == "External"%>
      <p><%= clocking.topic %></p>
      <p><%= clocking.details %></p>
      <p><%= clocking.duration %></p>
      <p><%= image_tag(subject.icon) if subject.icon.attached? %></p>
    <%end%>
  <% end %>
<% end %>
<%= link_to 'New Clocking', select_path %> |