<div class="d-none d-md-block">
  <h1 class="p-3 text-center m-0 blue-bg lt-gray-clr">Home Page</h1>
</div>

<div class="container-fluid">
  <div class="row content">    
    <div class="col-12 blue-bg vh-100">
      <div class="d-form m-auto pt-4 blue-bg">
        <ul class="list-group list-group-flush text-center blue-bg">
          <li class="list-group-item blue-bg">
            <%= link_to 'All Clockings', all_path, class: 'home-link lt-gray-clr' %>
          </li>
          <li class="list-group-item blue-bg">
            <%= link_to 'External Clockings', external_path, class: 'home-link lt-gray-clr' %>
          </li>
          <li class="list-group-item blue-bg">
            <%= link_to 'All Subjects', subjects_path, class: 'home-link lt-gray-clr' %>
          </li>
          <li class="list-group-item blue-bg">
            <%= link_to 'New Subject', new_subject_path, class: 'home-link lt-gray-clr' %>
          </li>
          <li class="list-group-item blue-bg">
            <%= link_to 'New Clocking blue-bg', select_path, class: 'home-link lt-gray-clr' %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
