<% content_for :study_mate, "ALL SUBJECTS" %>

<div class="container-fluid">
  <div class="row content">
  <%= render 'subjects/nav' %>
    <div class="col-12 content-wrap">
      <div class="chunk container-fluid pt-3">
        <div class="row">
          <div class="clock-type col-10">
            <h4 class="font-weight-lighter text-secondary">Subject List</h4>
          </div>
        </div>
      </div>
      <% @subjects.each do |subject| %>          
          <div class="card mb-3">
            <div class="row p-2">
              <div class="col-3 card-wrap">
                <%= link_to sub_icon(subject), subject_path(subject) %>
              </div>
                <div class="col-7 card-body py-1">
                  <h5 class="card-title mt-md-3 text-secondary"><%= subject.title %></h5>
                  <p class="card-text pb-3">
                    <small class="text-muted">
                      <%= subject.created_at.strftime("#{subject.created_at.day.ordinalize} %B %Y") %>
                    </small>
                  </p>
                </div>
              <div class="col-2 task d-flex flex-column align-items-center justify-content-center">
                <div class ="">
                  <p class="task-p mb-2"><%= link_to 'Show', subject %></p>
                  <p class="task-p mb-2"><%= link_to 'Edit', edit_subject_path(subject), class: "text-info" %></p>
                  <p class="task-p mb-2"><%= link_to 'Destroy', subject, class: "text-danger", method: :delete, data: { confirm: 'Are you sure?' } %></p>
                </div>
              </div>
            </div>
          </div>
      <%end%>
    </div>
  </div>
</div>
<div class="footer green-bg w-100 lt-gray-clr">
  <div class="ft-border m-3 p-3 text-center border-light">
    <h3 class="ft-create">
      <%= link_to 'Create New Subject', new_subject_path, class: 'home-link lt-gray-clr font-16 font-weight-lighter' %>
    </h3>
  </div>
</div>
