<% content_for :h1, @subject.title %>
<% content_for :study_mate, "SUBJECT CLOCKINGS" %>

<div class="container-fluid">
  <div class="row content">

  <%= render 'subjects/nav' %>
    
    <div class="col-md-9">
      <div class="new-clock text-center py-3">
        <%= link_to 'Create new Clocking', new_clocking_path(@subject), class: 'font-18' %>  for
        <%= @subject.title%>
      </div>
      <% for clocking in @subject.clockings %>
        <div class="card mb-3">
          <div class="row no-gutters">
            <div class="col-3 card-wrap">
              <%= check_external(@subject)%>
            </div>
            <div class="col-6">
              <div class="card-body py-1">
                <h5 class="card-title m-0"><%= clocking.topic %></h5>
                <p class="card-text mb-2">
                  <small class="text-muted">
                    Created: <%= clocking.created_at.strftime("#{clocking.created_at.day.ordinalize} %B %Y") %>
                  </small>
                </p>
                <p class="card-detail mb-2"><%= clocking.details %></p>
              </div>
            </div>
            <div class="col-3">
              <h5 class="row justify-content-center m-3 font-16"><%= clocking.duration %> Hours</h5>
              <div class="text-center">
                <span>
                  <%= link_to 'Edit', edit_clocking_path(clocking) %> | 
                </span>
                <span>
                  <%= link_to 'Destroy', [clocking], method: :delete, data: { confirm: 'Are you sure?' } %>
                </span>
              </div>
            </div>
          </div>
        </div>
      <%end%>
      <div>
        <%= link_to 'Edit', edit_subject_path(@subject) %> |
        <%= link_to 'New Clocking', new_clocking_path(@subject) %> |
        <%= link_to 'Back to All Subjects', subjects_path %>
      </div>
    </div>
  </div>
</div>
