<!DOCTYPE html>
<html>
  <head>
    <title>RoRCapstone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="gray-bg">
    <% if flash[:notice] %>
    	<div class="alert-success mb-0" role="alert">
    		<p class="alert notice mb-0"><%= notice %></p>
    	</div>
    <% end %>
    <% if flash[:alert] %>
    	<div class="alert-danger mb-0" role="alert">
    		<p class="alert mb-0"><%= alert %></p>
    	</div>
    <% end %>

    <div class="d-none d-md-block sticky-top">
      <h1 class="p-3 text-center m-0 blue-bg lt-gray-clr font-weight-lighter"><%= yield(:h1) %></h1>
    </div>

    <nav class="navbar navbar-toggleable-md navbar-light blue-bg d-md-none sticky-top py-4">
      <button class="navbar-toggler col-1" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="lt-gray-clr"><i class="fas fa-bars"></i></span>
      </button>
      <div class="row lt-gray-clr col-11 justify-content-around align-items-center">
        <strong><a class="font-20 lt-gray-clr study_mate font-weight-lighter" href="#"><%= yield(:study_mate) %></a></strong>
        <i class="fas fa-search px-2" aria-hidden="true"></i>
      </div>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <%= render 'layouts/mobile_nav'%>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
