<!DOCTYPE html>
<html>
  <head>
    <title>RoRCapstone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:notice] %>
    	<div class="alert-success mb-0" role="alert">
    		<p class="alert notice mb-0"><%= notice %></p>
    	</div>
    <% end %>
    <% if flash[:alert] %>
    	<div class="alert-danger mb-0" role="alert">
    		<p class="alert mb-0"><%= alert %></p>
    	</div>
    <% end %>

    <div class="d-none d-md-block">
      <h1 class="p-3 text-center m-0 blue-bg lt-gray-clr"><%= yield(:h1) %></h1>
    </div>

    <nav class="navbar navbar-toggleable-md navbar-light blue-bg d-md-none">
      <button class="navbar-toggler lt-gray-clr" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <strong><a class="font-20 lt-gray-clr study_mate" href="#"><%= yield(:study_mate) %></a></strong>
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item">
            <%= link_to 'Home', root_path, class: 'lt-gray-clr nav-a' %>
          </li>
          <li class="nav-item">
            <%= link_to 'All Clockings', all_path, class: 'lt-gray-clr nav-a' %>
          </li>
          <li class="nav-item">
            <%= link_to 'External Clockings', external_path, class: 'lt-gray-clr nav-a' %>
          </li>
          <li class="nav-item">
            <%= link_to 'All Subjects', subjects_path, class: 'lt-gray-clr nav-a' %>
          </li>
          <li class="nav-item">
            <%= link_to 'New Subject', new_subject_path, class: 'lt-gray-clr nav-a' %>
          </li>
          <li class="nav-item">
            <%= link_to 'New Clocking', select_path, class: 'lt-gray-clr nav-a' %>
          </li>
          <li class="nav-item">
            <%= render 'devise/menu/login_items' %>
          </li>
        </ul>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
